@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&family=Righteous&display=swap');

@media screen and (min-width: 992px) {
    #proyectos {
        min-height: 100vh;
        padding: 100px 20px;
    }

    #proyectos h2 {
        text-align: center;
        padding-bottom: 50px;
        padding-top: 30px;
    }

    .proyectos__box-big {
        width: 1000px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .proyecto__box {
        width: calc(48% - 2rem);
        height: 300px;
        position: relative;
        text-align: center;
        color: #fff;
        overflow: hidden;
        border-radius: 8px;
        margin-bottom: 2rem;
    }

    .proyecto__box:hover {
        box-shadow: 1px 1px 0 rgba(0, 0, 0, 5);
        transition: box-shadow 0.2s 0.5s linear;
    }

    .proyecto__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .proyecto__box-content {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        padding: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 3;
        transform: translateY(75px);
        transition: transform 0.2s 0.2s linear;
    }

    .item {
        font-family: 'Righteous', cursive;
        font-size: 1.8rem;
        margin-bottom: 12px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-shadow: 2px 1px 0 #ee4399;
    }

    .description {
        font-family: 'Plus Jakarta Sans', sans-serif;
        font-size: 0.9rem;
        margin-bottom: 24px;
        height: 72px;
        overflow: hidden;
    }

    .proyecto__box:after {
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: #000;
        opacity: 0.2;
        transition: opacity 0.2s linear;
    }

    .proyecto__box:hover:after {
        opacity: 0.7;
    }

    .interactive {
        display: flex;
    }

    .interactive .item {
        display: flex;
        align-items: center;
        width: 50%;
        font-size: 14px;
        color: white;
        text-shadow: #000;
    }

    .interactive a:hover {
        text-decoration: overline;
    }

    .interactive .item:last-child {
        justify-content: flex-end;
    }

    .proyecto__box:before {
        content: " ";
        border-radius: 8px;
        position: absolute;
        top: 20px;
        left: 20px;
        bottom: 20px;
        right: 20px;
        border: 1px solid #fff;
        z-index: 2;
        pointer-events: none;
        transition: transform 0.2s linear, opacity 0.2s linear;
        transform: scale(0.7);
        opacity: 0;
    }

    .show-animate {
        opacity: 0;
        transform: translateY(20px);
        transition: opacity 0.2s 0.2s linear;
    }

    .proyecto__box:hover .show-animate {
        opacity: 1;
        transform: translateY(0);
        transition: transform 1s linear;
    }

    .proyecto__box:hover .proyecto__box-content {
        transform: translateY(0);
    }

    .proyecto__box:hover:before {
        transform: scale(1);
        opacity: 1;
    }

    .show-item {
        transition: transform 0.2s linear, opacity 0.2s linear;
        opacity: 0;
    }

    .show-item:first-child {
        transform: translateX(-20px);
        margin-left: 40px;
    }

    .show-item:last-child {
        transform: translateX(20px);
        margin-right: 40px;
    }

    .proyecto__box:hover .show-item {
        transform: translateX(0);
        opacity: 1;
        transition: transform 0.2s 0.4s linear, opacity 0.2s 0.4s linear;
    }

}

@media only screen and (max-width: 991px) {

    #proyectos {
        min-height: 100vh;
        padding: 50px 10px;
    }

    #proyectos h2 {
        text-align: center;
        padding-bottom: 50px;
        padding-top: 30px;
    }

    .proyectos__box-big {
        margin: 0 auto;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .proyecto__box {
        width: 100%;
        height: 300px;
        position: relative;
        text-align: center;
        color: #fff;
        overflow: hidden;
        border-radius: 8px;
        margin-bottom: 2rem;
    }

    .proyecto__box:hover {
        box-shadow: 1px 1px 0 rgba(0, 0, 0, 5);
        transition: box-shadow 0.2s 0.5s linear;
    }

    .proyecto__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .proyecto__box-content {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 3;
        transform: translateY(75px);
        transition: transform 0.2s 0.2s linear;
    }

    .item {
        font-family: 'Righteous', cursive;
        font-size: 1.5rem;
        margin-bottom: 12px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-shadow: 2px 1px 0 #ee4399;
    }

    .description {
        font-family: 'Plus Jakarta Sans', sans-serif;
        font-size: 0.9rem;
        margin-bottom: 24px;
        height: 100px;
        overflow: hidden;
    }

    .proyecto__box:after {
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: #000;
        opacity: 0.2;
        transition: opacity 0.2s linear;
    }

    .proyecto__box:hover:after {
        opacity: 0.7;
    }

    .interactive {
        display: flex;
    }

    .interactive .item {
        display: flex;
        align-items: center;
        width: 50%;
        font-size: 14px;
        color: white;
        text-shadow: #000;
    }

    .interactive a:hover {
        text-decoration: overline;
    }

    .interactive .item:last-child {
        justify-content: flex-end;
    }

    .proyecto__box:before {
        content: " ";
        border-radius: 8px;
        position: absolute;
        top: 20px;
        left: 20px;
        bottom: 20px;
        right: 20px;
        border: 1px solid #fff;
        z-index: 2;
        pointer-events: none;
        transition: transform 0.2s linear, opacity 0.2s linear;
        transform: scale(0.7);
        opacity: 0;
    }

    .show-animate {
        opacity: 0;
        transform: translateY(20px);
        transition: opacity 0.2s 0.2s linear;
    }

    .proyecto__box:hover .show-animate {
        opacity: 1;
        transform: translateY(0);
        transition: transform 1s linear;
    }

    .proyecto__box:hover .proyecto__box-content {
        transform: translateY(0);
    }

    .proyecto__box:hover:before {
        transform: scale(1);
        opacity: 1;
    }

    .show-item {
        transition: transform 0.2s linear, opacity 0.2s linear;
        opacity: 0;
    }

    .show-item:first-child {
        transform: translateX(-20px);
        margin-left: 40px;
    }

    .show-item:last-child {
        transform: translateX(20px);
        margin-right: 40px;
    }

    .proyecto__box:hover .show-item {
        transform: translateX(0);
        opacity: 1;
        transition: transform 0.2s 0.4s linear, opacity 0.2s 0.4s linear;
    }

}